[project]
name = "{{package_name}}"
version = "0.1.0"
description = ""
readme = "README.md"
authors = [
    { name = "Author", email = "author@email.com" }
]
requires-python = ">=3.13"
dependencies = []

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

{% if use_private_registry == true %}
[[tool.uv.index]]
name = "{{ private_registry_name }}"
url = "{{ private_registry_url }}"
publish-url = "{{ private_registry_publish_url }}"
explicit = true
{% endif %}
